<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'region_registration' %}" method='POST' enctype="multipart/form-data">
        {% csrf_token %}
        <p>가게이름 : {{form.shopname}}</p>
        <p>주소 : {{form.address}}</p>
        <p>썸네일 : {{form.thumnail}}</p>
        <p>가게 정보 : {{form.shopinfo}}</p>
        <p>카테고리 : {{form.category}}</p>
        {{formset.as_p}}
        {{image_set.as_p}}
        <input type="submit">
    </form>
</body>
</html>