{% load static %}
{% load socialaccount%}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}?{% now "U" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}?{% now "U" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}?{% now "U" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}?{% now "U" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}?{% now "U" %}"/>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'dangun_app/favicon.ico' %}" />
    <title>당신 근처의 당근 | 로그인</title>
  </head>

  <body class="back-ye">
    {% include 'carrot_app/nav.html' %}
    <div class="container">
      {% block content %}
        <div class="login-container">
          <form method="post" class="login-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="login-button">로그인</button>
          </form>
          <div class='social_login'>
            <a class="social_btn" href="{% url 'social:begin' 'google-oauth2' %}">
              <img class='google_logo' src="{% static 'img/login_google.svg'%}">
              <div class="google_logo_text">구글 로그인</div>
            </a>
            <a class="social_btn" href="{% url 'social:begin' 'naver' %}">
              <img class='naver_logo' src= "{% static 'img/login_naver.svg'%}">
              <div class="naver_logo_text">네이버 로그인</div>
            </a>
          </div>
          <p class="register-reco">
            당근마켓 회원이 아니신가요?
            <a href="{% url 'register' %}" class="bold">회원가입</a>
          </p>
        </div>
      {% endblock %}
    </div>
  </body>

</html>
